.data_list{
	margin-top: 10px;
}

.data_list .data_content{
	margin-top: 15px;
}

.data_list .data_exam_content{
	margin-top: 15px;
	padding-left: 30px;
	
	
}

.data_list .data_info .examTitle{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
}

.data_list .data_info .examScoreInfo{
	padding:10px;
	font-weight: bold;
	text-align: right;
}

.examResult{
	font-size: 20px;
	padding: 120px;
}

.data_list .data_info p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}
.data_list .search_content form{
	text-align:center;
	margin: 0px;
}
body{font-family:"Î¢ÈíÑÅºÚ";background:#DAD9D7}
img{border:none}
.cf:after{content: ".";display: block;height: 0;font-size: 0;clear:both;visibility: hidden;}
.cf{zoom: 1;clear:both}

.bg{width:100%;background:url("../images/01.jpg") no-repeat center top #DAD9D7;position:absolute;top:0;left:0;height:600px;overflow:hidden}
.cont{margin:0 auto;width:500px;line-height:20px;}
.c1{height:360px;text-align:center}
.c1 .img1{margin-top:180px}
.c1 .img2{margin-top:165px}
.cont h2{text-align:center;color:#555;font-size:18px;font-weight:normal;height:35px}
