* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #ffffff;
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
	padding-top:70px;
	

}


ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;
 	font-size: 16px;
 }

 .accordion {
 	width: 100%;
 	max-width: 360px;
 	margin: 30px auto 20px;
 	background: #c0c0c0;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }
.jumbotron {
	background: #fff;
}
.jumbotron h1 {
	
	font-family: "Î¢ÈíÑÅºÚ";
	font-weight: bold;
	color: #006965;
}
 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }
.pie {
	width: 200px;
	height: 200px;
	background-color: #d9d9d9;
	border-radius: 100px;
	position: absolute;
}

.pie1 {
	clip: rect(0px, 200px, 200px, 100px);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	background: -moz-radial-gradient(20% 50% 0deg, #333, #d9d9d9);
	background: -webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#000),
		to(#d9d9d9));
}

.pie2 {
	clip: rect(0px, 100px, 200px, 0px);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	background: -moz-radial-gradient(80% 50% 0deg, #333, #d9d9d9);
	background: -webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#000),
		to(#d9d9d9));
}

.hold {
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 1;
}

.hold1 {
	clip: rect(0px, 200px, 200px, 100px);
}

.hold2 {
	clip: rect(0px, 100px, 200px, 0px);
}

.bg {
	width: 200px;
	height: 200px;
	background-color: red;
	border-radius: 100px;
	position: absolute;
	box-shadow: 0px 0px 8px #333;
	background: -moz-radial-gradient(0% 50% 0deg, #900, #b63b4d);
	background: -webkit-gradient(radial, 100 100, 0, 100 100, 110, from(#900),
		to(#b63b4d));
}

.time {
	width: 160px;
	height: 160px;
	margin: 20px 0 0 20px;
	background-color: #fff;
	border-radius: 100px;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 0px 8px #333 inset;
	text-align: center;
	line-height: 160px;
	font-family: "Book Antiqua", Palatino, serif;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 1px 1px 3px #333;
}

.time em {
	background: #fff;
	position: absolute;
	top: 62px;
	left: 12px;
	height: 18px;
	width: 140px;
	opacity: 0.4;
}
