<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paly.mapper.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.paly.domain.Department" >
    <id column="departmentId" property="departmentId" jdbcType="INTEGER" />
    <result column="departmentName" property="departmentName" jdbcType="VARCHAR" />
    <collection property="specialties" ofType="com.paly.domain.Specialty" select="com.paly.mapper.SpecialtyMapper.getByDepartmentId" column="departmentId">
  	</collection>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >    
    delete from department
    where departmentId = #{departmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.paly.domain.Department" >   
    insert into department (departmentId, departmentName)
    values (#{departmentId,jdbcType=INTEGER}, #{departmentName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.paly.domain.Department" >
    update department
    set departmentName = #{departmentName,jdbcType=VARCHAR}
    where departmentId = #{departmentId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >   
    select departmentId, departmentName
    from department
    where departmentId = #{departmentId,jdbcType=INTEGER}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="string" >   
    select departmentId, departmentName
    from department
    where departmentName = #{departmentName,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select departmentId, departmentName
    from department
  </select>
  
  <!-- 根据专业id获取其所属的院系 -->
  <select id="getBySpecialtyId" resultMap="BaseResultMap" parameterType="int">
  	select d.* from department d, specialty s
  		where d.departmentId=s.specialtyId and s.specialtyId=#{specialtyId}
  </select>
</mapper>