<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paly.mapper.ItempoolMapper" >
  <resultMap id="BaseResultMap" type="com.paly.domain.Itempool" >
    <id column="itempoolId" property="itempoolId" jdbcType="INTEGER" />
    <result column="itempoolQuestion" property="itempoolQuestion" jdbcType="VARCHAR" />
    <result column="A" property="a" jdbcType="VARCHAR" />
    <result column="B" property="b" jdbcType="VARCHAR" />
    <result column="C" property="c" jdbcType="VARCHAR" />
    <result column="D" property="d" jdbcType="VARCHAR" />
    <result column="itempoolCorrect" property="itempoolCorrect" jdbcType="VARCHAR" />
    <result column="itempoolChecked" property="itempoolChecked" jdbcType="BIT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from itempool
    where itempoolId = #{itempoolId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.paly.domain.Itempool" >   
    insert into itempool (itempoolId, itempoolQuestion, `A`, 
      B, `C`, D, itempoolCorrect, 
      itempoolChecked)
    values (#{itempoolId,jdbcType=INTEGER}, #{itempoolQuestion,jdbcType=VARCHAR}, #{a,jdbcType=VARCHAR}, 
      #{b,jdbcType=VARCHAR}, #{c,jdbcType=VARCHAR}, #{d,jdbcType=VARCHAR}, #{itempoolCorrect,jdbcType=VARCHAR}, 
      #{itempoolChecked,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.paly.domain.Itempool" >   
    update itempool
    set itempoolQuestion = #{itempoolQuestion,jdbcType=VARCHAR},
      `A` = #{a,jdbcType=VARCHAR},
      B = #{b,jdbcType=VARCHAR},
      `C` = #{c,jdbcType=VARCHAR},
      D = #{d,jdbcType=VARCHAR},
      itempoolCorrect = #{itempoolCorrect,jdbcType=VARCHAR},
      itempoolChecked = #{itempoolChecked,jdbcType=BIT}
    where itempoolId = #{itempoolId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >   
    select itempoolId, itempoolQuestion, `A`, B, `C`, D, itempoolCorrect, itempoolChecked
    from itempool
    where itempoolId = #{itempoolId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select itempoolId, itempoolQuestion, `A`, B, `C`, D, itempoolCorrect, itempoolChecked
    from itempool
  </select>
  
  <!-- 获取所有经过审核的题目 -->
  <select id="getIsChecked" resultMap="BaseResultMap">
  	select i.* from itempool i
  		where i.itempoolChecked=1
  </select>
  
  <!-- 获取所有未经过审核的题目 -->
  <select id="getIsNotChecked" resultMap="BaseResultMap">
  	select i.* from itempool i
  		where i.itempoolChecked=0
  </select>
  
  <!-- 模糊查找题目 -->
  <select id="queryByVagueQuestion" resultMap="BaseResultMap" parameterType="String">
  	select * from itempool
  		where itempoolQuestion like '%${question}%'
  </select>
</mapper>