<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paly.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.paly.domain.Menu" >
    <id column="menuId" property="menuId" jdbcType="INTEGER" />
    <result column="menuName" property="menuName" jdbcType="VARCHAR" />
    <result column="menuUrl" property="menuUrl" jdbcType="VARCHAR" />
    <association property="parentMenu" column="parentMenuId"  javaType="Menu" 
    select="getParentMenuById"></association>
    
    <collection property="roles" ofType="Role" select="com.paly.mapper.RoleMapper.getByMenuId" column="menuId">
  	</collection> 
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where menuId = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.paly.domain.Menu" >
    insert into menu (menuId, menuName, menuUrl
      )
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.paly.domain.Menu" >
    update menu
    set menuName = #{menuName,jdbcType=VARCHAR},
      menuUrl = #{menuUrl,jdbcType=VARCHAR}
    where menuId = #{menuId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select menuId, menuName, menuUrl
    from menu
    where menuId = #{menuId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select menuId, menuName, menuUrl
    from menu
  </select>

<!--  根据MenuId获取其对应得父Menu-->
<select id="getParentMenuById" resultType="Menu" parameterType="int">
	select menuId,menuName,menuUrl from menu where parentMenuId=#{menuId}
</select>

<!-- 查找出所有根菜单 -->
<select id="getParentMenus" resultMap="BaseResultMap">
	select * from menu where parentMenuId is null
</select>
  <!-- 获取某角色拥有的菜单列表 -->	
  <select id="getByRoleId" resultMap="BaseResultMap" parameterType="int">
  	select m.* from menu m, role_menu rm
  		where m.menuId=rm.menu_menuId and rm.role_roleId=#{roleId} 	
  </select>
</mapper>