<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paly.mapper.SectionMapper" >
  <resultMap id="BaseResultMap" type="com.paly.domain.Section" >
    <id column="sectionId" property="sectionId" jdbcType="INTEGER" />
    <result column="sectionName" property="sectionName" jdbcType="VARCHAR" />
    <result column="sectionChecked" property="sectionChecked" jdbcType="BIT" />
    <collection property="subsections" ofType="Subsection" select="com.paly.domain.Subsection.getBySectionId" column="sectionId">
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from section
    where sectionId = #{sectionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.paly.domain.Section" >
    insert into section (sectionId, sectionName, sectionChecked
      )
    values (#{sectionId,jdbcType=INTEGER}, #{sectionName,jdbcType=VARCHAR}, #{sectionChecked,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.paly.domain.Section" >
    update section
    set sectionName = #{sectionName,jdbcType=VARCHAR},
      sectionChecked = #{sectionChecked,jdbcType=BIT}
    where sectionId = #{sectionId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select sectionId, sectionName, sectionChecked
    from section
    where sectionId = #{sectionId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sectionId, sectionName, sectionChecked
    from section
  </select>
  
  <!-- 根据子章节id获取其所属的章节信息 -->
  <select id="getBySubsectionId" resultMap="BaseResultMap" parameterType="int">
  	select sec.* from section sec
  		left join subsection sub on sub.subsectionId=#{subsectionId}
  </select>
</mapper>
