<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paly.mapper.StudyscheduleMapper" >
  <resultMap id="BaseResultMap" type="com.paly.domain.Studyschedule" >
    <id column="studyscheduleId" property="studyscheduleId" jdbcType="INTEGER" />
    <result column="studyscheduleHasNum" property="studyscheduleHasNum" jdbcType="INTEGER" />
    <association property="subsection" javaType="Subsection" select="com.paly.mapper.SubsectionMapper.getByStudyscheduleId" column="studyscheduleId" />   
    <association property="student" javaType="Student" select="com.paly.mapper.StudentMapper.getByStudyscheduleId" column="studyscheduleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from studyschedule
    where studyscheduleId = #{studyscheduleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.paly.domain.Studyschedule" >
    insert into studyschedule (studyscheduleId, studyscheduleHasNum, 
      subsection_subsectionId, student_studentId)
    values (#{studyscheduleId,jdbcType=INTEGER}, #{studyscheduleHasNum,jdbcType=INTEGER}, 
      #{subsection.subsectionId,jdbcType=INTEGER}, #{student.studentId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.paly.domain.Studyschedule" >
    update studyschedule
    set studyscheduleHasNum = #{studyscheduleHasNum,jdbcType=INTEGER},
      subsection_subsectionId = #{subsection.subsectionId,jdbcType=INTEGER},
      student_studentId = #{student.studentId,jdbcType=INTEGER}
    where studyscheduleId = #{studyscheduleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select studyscheduleId, studyscheduleHasNum, subsection_subsectionId, student_studentId
    from studyschedule
    where studyscheduleId = #{studyscheduleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select studyscheduleId, studyscheduleHasNum, subsection_subsectionId, student_studentId
    from studyschedule
  </select>
  
  <!-- 根据学生id获取其学习进度信息 -->
  <select id="getByStudentId" resultMap="BaseResultMap" parameterType="int">
  	select study.* from studyschedule study
  		join student stud on study.student_studentId=stud.studentId and stud.studentId=#{studentId}
  </select>
  
  <!-- 根据子章节id获取其学习进度信息 -->
  <select id="getBySubsectionId" resultMap="BaseResultMap" parameterType="int">
  	select study.* from studyschedule
  		left join subsection sub on sub.subsectionId=#{subsectionId}
  </select>
</mapper>
